.mainMenu7__logo,
.header7__logo
	font-weight 600
	font-family proxima
	font-size 13px
	line-height 1
	text-transform uppercase

	@media(min-width tablet)
		font-size 17px
		line-height 1.2

.mainMenu7__link
	header2Menu()
