.head9__heading
	font-family proxima
	font-weight normal
	font-size 40px
	line-height 1
	text-transform uppercase

	@media(min-width tablet)
		font-size 60px

	@media(min-width desktop)
		font-size 100px
		line-height .9

.head9__text
	font-family proxima
	font-weight normal
	font-size 17px
	line-height 1.2

	@media(min-width tablet)
		font-size 18px

	@media(min-width desktop)
		font-size 20px

.head9__button
	font-family proxima
	font-weight normal
	font-size 17px
	line-height 1.2

	@media(min-width tablet)
		font-size 18px

	@media(min-width desktop)
		font-size 20px
