section.section.head9#head9
	.container.head9__container
		h1.head9__heading Explore Unsplash photos
		.head9__text Unsplash has over a million free high resolution photos. Explore these popular photo categories on Unsplash. All photos here are free to download and use under the Unsplash License.
		.head9__buttons
			a(href="#").head9__button Contacts
		.head9__imgWrapper
			img(src="./images/head9.jpg", alt="").head9__img
			.head9__video.hidden
