.price3__itemHeading
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.price3__itemDesc
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px

.price3__itemPrice
	font-weight 400
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 36px

	&--small
		font-size 20px
		@media(min-width desktop)
			font-size 32px

.price3__btn
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
