section.section.priceBlock.price3#price3
	.container.price3__container
		h2.price3__heading.heading Closed events for students

		.price3__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.price3__list 
			.price3__item 
				h3.price3__itemHeading Базовая версия
				.price3__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price3__itemPrice 399 ₽
			.price3__item 
				h3.price3__itemHeading Студийная съемка
				.price3__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price3__itemPrice 699 ₽
			.price3__item 
				h3.price3__itemHeading Дневная фотосессия
				.price3__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price3__itemPrice 999 ₽
			.price3__item 
				h3.price3__itemHeading Базовая версия
				.price3__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price3__itemPrice 1 499 ₽

		a(href="#").price3__btn Cделать заказ
