section(data-load-more="Load more").section.partners4#partners4
	.container.partners4__container
		h2.partners4__heading.heading Our Partners

		.partners4__desc.text
			p If you are interested in becoming a partner or sponsor, please feel free to contact us.

		.partners4__list
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-1.png", alt="", litepage-image-select="" ).partners4__logo
					img(src="./images/partnersNew-1.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-2.png", alt="", litepage-image-select="" ).partners4__logo
					img(src="./images/partnersNew-2.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-3.png", alt="", litepage-image-select="" ).partners4__logo.invisible
					img(src="./images/partnersNew-3.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-4.png", alt="", litepage-image-select="" ).partners4__logo
					img(src="./images/partnersNew-4.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-1.png", alt="", litepage-image-select="" ).partners4__logo
					img(src="./images/partnersNew-1.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners4__item
				.partners4__itemLogoWrapper
					img(src="./images/partnersNew-2.png", alt="", litepage-image-select="" ).partners4__logo
					img(src="./images/partnersNew-2.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners4__video.hidden
				.partners4__itemTextWrapper
					.partners4__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
