doctype
html(lang="ru")
	include ../blocks/_meta/_meta.pug
	+meta('Главная')

	body
			
		include ../blocks/_mixins/_svgElement.pug

		//- include ../blocks/header2/header2.pug
		//- include ../blocks/header3/header3.pug
		//- include ../blocks/header4/header4.pug
		//- include ../blocks/header5/header5.pug
		include ../blocks/header6/header6.pug
		//- include ../blocks/header7/header7.pug

		include ../blocks/head/head.pug
		include ../blocks/head2/head2.pug
		include ../blocks/head3/head3.pug
		include ../blocks/head4/head4.pug
		include ../blocks/head5/head5.pug
		include ../blocks/head6/head6.pug
		include ../blocks/head7/head7.pug
		include ../blocks/head8/head8.pug
		//- include ../blocks/head9/head9.pug
		include ../blocks/head10/head10.pug

		//- include ../blocks/about/about.pug
		//- include ../blocks/about2/about2.pug
		//- include ../blocks/about3/about3.pug
		//- include ../blocks/about4/about4.pug
		//- include ../blocks/about5/about5.pug
		include ../blocks/about6/about6.pug
		include ../blocks/about7/about7.pug
		include ../blocks/about8/about8.pug

		//- //- include ../blocks/app/app.pug

		//- include ../blocks/advantages/advantages.pug
		//- include ../blocks/advantages2/advantages2.pug
		//- include ../blocks/advantages3/advantages3.pug
		//- include ../blocks/advantages4/advantages4.pug
		//- include ../blocks/advantages5/advantages5.pug
		//- include ../blocks/advantages6/advantages6.pug

		//- //- include ../blocks/cases/cases.pug

		//- include ../blocks/cases2/cases2.pug
		//- include ../blocks/cases3/cases3.pug
		//- include ../blocks/cases4/cases4.pug
		//- include ../blocks/cases5/cases5.pug
		//- include ../blocks/cases6/cases6.pug

		//- include ../blocks/contacts/contacts.pug

		//- include ../blocks/cta/cta.pug
		//- include ../blocks/cta2/cta2.pug
		//- include ../blocks/cta3/cta3.pug
		//- include ../blocks/cta4/cta4.pug
		
		//- //- include ../blocks/docs/docs.pug
		
		include ../blocks/faq/faq.pug
		include ../blocks/faq2/faq2.pug
		include ../blocks/faq3/faq3.pug

		//- include ../blocks/gallery/gallery.pug
		//- include ../blocks/gallery2/gallery2.pug
		//- include ../blocks/gallery3/gallery3.pug
		//- include ../blocks/gallery4/gallery4.pug
		//- include ../blocks/gallery5/gallery5.pug
		//- include ../blocks/gallery6/gallery6.pug

		//- //- include ../blocks/infofact/infofact.pug

		//- //- include ../blocks/instagram/instagram.pug

		//- //- include ../blocks/news/news.pug

		include ../blocks/partners/partners.pug
		include ../blocks/partners2/partners2.pug
		include ../blocks/partners3/partners3.pug
		include ../blocks/partners4/partners4.pug

		//- //- include ../blocks/price/price.pug
		include ../blocks/price2/price2.pug
		//- include ../blocks/price3/price3.pug

		include ../blocks/process/process.pug
		include ../blocks/process2/process2.pug

		//- //- include ../blocks/products/products.pug
		//- include ../blocks/products2/products2.pug
		//- include ../blocks/products3/products3.pug
		//- include ../blocks/products4/products4.pug

		//- //- include ../blocks/promotion/promotion.pug

		//- //- include ../blocks/rates/rates.pug
		//- include ../blocks/rates5/rates5.pug
		//- include ../blocks/rates6/rates6.pug

		//- include ../blocks/reviews/reviews.pug
		include ../blocks/reviews2/reviews2.pug
		include ../blocks/reviews3/reviews3.pug

		//- include ../blocks/services/services.pug
		include ../blocks/services2/services2.pug
		include ../blocks/services3/services3.pug
		include ../blocks/services4/services4.pug
		include ../blocks/services5/services5.pug
		include ../blocks/services6/services6.pug
		include ../blocks/services7/services7.pug

		//- include ../blocks/social/social.pug

		//- include ../blocks/timetable/timetable.pug

		//- include ../blocks/team/team.pug

		//- include ../blocks/404/404.pug

		//- include ../blocks/footer/footer.pug
		//- include ../blocks/footer2/footer2.pug
		//- include ../blocks/footer3/footer3.pug
		//- include ../blocks/footer4/footer4.pug

		//- include ../blocks/popupForm/popupForm.pug
		//- include ../blocks/popupForm2/popupForm2.pug
		//- include ../blocks/popupForm3/popupForm3.pug
		//- include ../blocks/popupForm4/popupForm4.pug
		//- include ../blocks/popupForm5/popupForm5.pug

		//- include ../blocks/copyright/copyright.pug
		//- include ../blocks/copyright2/copyright2.pug
		//- include ../blocks/copyright3/copyright3.pug


		include ../blocks/_mixins/_styles.pug
		include ../blocks/_mixins/_scripts.pug
		+styles('plugins')
		+scripts('plugins', 'main')
