section.section.about7#about7
	.container.about7__container
		h2.about7__heading.heading Расскажите о себе или о вашем занятии
		
		.about7__list
			.about7__listItem Работаю более 10 лет в сфере дизайна
			.about7__listItem Сделал свыше 400 проектов
			.about7__listItem Подарил положительные эмоции 132 клиентам

		a(href="#").about7__btn Cделать заказ

