section.section.advantages2#advantages2
	.container.advantages2__container
		h2.advantages2__heading.heading Closed events for students

		.advantages2__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.advantages2__list
			.advantages2__item
				h3.advantages2__name High Quality
				p.advantages2__text We are a leading firm in providing quality and value to our customers. Each member of our team has at least 5 years of legal experience. 
				.advantages2__imgWrapper
					img(src="./images/advantages__img.jpg").advantages2__img
					.advantages2__video.hidden
			.advantages2__item
				h3.advantages2__name Unique Experience
				p.advantages2__text Each member of our team has at least 5 years of legal experience. They use their knowledge to make our clients' lives better.
				.advantages2__imgWrapper
					img(src="./images/advantages__img.jpg").advantages2__img
					.advantages2__video.hidden
			.advantages2__item
				h3.advantages2__name Good Support
				p.advantages2__text Our managers are always ready to answer your questions. You can call us at the weekends and at night. You can also visit our office for 
				.advantages2__imgWrapper
					img(src="./images/advantages__img.jpg").advantages2__img
					.advantages2__video.hidden
			.advantages2__item
				h3.advantages2__name Individual Approach
				p.advantages2__text Our company works according to the principle of individual approach to every client. This method allows us to achieve success in problems 
				.advantages2__imgWrapper
					img(src="./images/advantages__img.jpg").advantages2__img
					.advantages2__video.hidden

		a(href="#").advantages2__link Read more
