.timetable__heading
	background red

.timetable__desc
	p
		background red

.timetable__date
	background red

.timetable__select
	background red

.timetable__time
	background red

.timetable__name
	background red

.timetable__text
	background red

.timetable__select, .timetable__item
	background red

.timetable__btn
	background red
