section.section.ctaBlock.cta4#cta4
	.container.cta4__container
		h2.cta4__heading Закажите дизайн сайта со скидкой 30%

		.cta4__desc Предложите выгодную акцию для пользователя, или сообщите ему, что это тот самый момент, чтобы начать с вами работу

		form(action="#").cta4__form
			.cta4__inputWrapper.admin-span
				input(type="text" required placeholder="Почта").cta4__input
			button(type="submit").cta4__submit Сделать заказ
		

