.cta4__heading
	font-weight 400
	font-family proxima
	font-size 30px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 36px

.cta4__desc
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

.cta4__input
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.cta4__submit
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
