section.section.cases6#cases6
	.container.cases6__container
		h2.cases6__heading.heading Моё портфолио
		.cases6__text.text Вставьте скриншот хорошего качества с вашей работой и опишите его двумя-тремя предложениями

		.cases6__list
			- var i = 0
			while i < 4
				- i = i + 1
				.cases6__item
					.cases6__imgWrapper
						img(src="./images/advantages__mainImg.jpg", alt="").cases6__img
					.cases6__body
						h3.cases6__title Продвижение тендерной площадки Bicotender.ru
						.cases6__desc BiCotender – самая полная система тендеров с «умным» поиском, разработанная в 2005 году. В систему загружено более 50 миллионов тендеров, количество пользователей системы - 420000 человек. ГК BiCo стала первой тендерной компанией, получившей патент в области аналитики закупок и создала собственную систему сертификации BiCo Standart.
						a(href="#").cases6__link
