.popupForm2__heading
	font-weight 400
	font-family proxima
	font-size 30px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 48px

.popupForm2__text
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px

.popupForm2__input
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.popupForm2__submit
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

.popupForm2__successText
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2
