section.section.gallery4#gallery4
	.container.gallery4__container
		h2.gallery4__heading.heading Closed events for students
		.gallery4__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university
		ul.gallery4__images
			li.gallery4__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery4__photo
				.gallery4__video.hidden
				h4.gallery4__name The profession of Internet marketer
				span.gallery4__post Marketing Director Skobeev & Partners
			li.gallery4__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery4__photo
				.gallery4__video.hidden
				h4.gallery4__name The profession
				span.gallery4__post Marketing Director Skobeev & Partners
			li.gallery4__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery4__photo
				.gallery4__video.hidden
				h4.gallery4__name The profession of Internet marketer
				span.gallery4__post Marketing Director Skobeev & Partners
			li.gallery4__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery4__photo
				.gallery4__video.hidden
				h4.gallery4__name The profession
				span.gallery4__post Marketing Director Skobeev & Partners
