section.section.ratesBlock.rates5#rates5
	.container.rates5__container
		h2.rates5__heading.heading Closed events for students

		.rates5__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.rates5__tabs 
			button(type="button" data-rateType="Месяц").rates5__tab Месяц
			button(type="button" data-rateType="Год").rates5__tab Год
		
		.rates5__list 
			.rates5__item(data-rateType="Год")
				h3.rates5__itemHeading Базовая версия 2
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink

			.rates5__item(data-rateType="Месяц")
				h3.rates5__itemHeading Базовая версия
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink

			.rates5__item(data-rateType="Год")
				h3.rates5__itemHeading Студийная съемка 2
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink

			.rates5__item(data-rateType="Месяц")
				h3.rates5__itemHeading Студийная съемка
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink

			.rates5__item(data-rateType="Месяц")
				h3.rates5__itemHeading Фотосессия в студии
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink

			.rates5__item(data-rateType="Год")
				h3.rates5__itemHeading Фотосессия в студии 2
				.rates5__itemDesc Опишите в чем уникальность тарифа
				.rates5__itemListHeading Включает в себя
				ul.rates5__itemList
					li.rates5__itemListItem Безлимитные звонки и мессенджеры
					li.rates5__itemListItem Защита от нежелательных звонков 
					li.rates5__itemListItem Тату-наклейки в подарок 
				.rates5__wrapper
					.rates5__itemPrice 699 ₽
					a(href="#").rates5__itemLink
