.mainMenu6__logo,
.header6__logo
	font-weight 600
	font-family proxima
	font-size 13px
	line-height 1
	text-transform uppercase

	@media(min-width tablet)
		font-size 17px

.mainMenu6__phone
	header6Phone()

.mainMenu6__link
	header6Menu()
