.mainMenu4__logo,
.header4__logo
	font-weight 600
	font-family proxima
	font-size 13px
	line-height 1.2
	text-transform uppercase

	@media(min-width tablet)
		font-size 17px

.mainMenu4__link,
.mainMenu4__phone
	header2Menu()
