.head5__heading
	font-weight 400
	font-family proxima
	font-size 76px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 298px

.head5__text, .head5__text p, .head5__buttons, .head5__buttons a
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
