section.section.head5#head5
	.container.head5__container
		h1.head5__heading
			span Fashion
		.head5__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages

		.head5__buttons
			a(href="#").head5__button Read more

		img(src="./images/head.jpg", alt="").head5__img
		.head5__video.hidden
