.cta
	padding-top 60px
	padding-bottom 60px

	@media(min-width tablet)
		padding-top 90px
		padding-bottom 90px

	@media(min-width desktop)
		padding-top 174px
		padding-bottom 174px

.cta, .constructorActive .cta
	background main2

	*
		color main2Text

.cta__desc
	margin-bottom 24px

	@media(min-width desktop)
		margin-bottom 40px

.cta__callToAction
	display table
	padding 8px 23px
	border 1px solid main2Text
	background main2
	color main2Text
	border-radius 60px
	text-decoration none
	transition 0.3s

	&:hover
		border-color main2Text
		background main2Text
		color main2

	@media(min-width tablet)
		padding 9px 23px

	@media(min-width desktop)
		padding 8px 24px
