section.section.faq2#faq2
	.container.faq2__container
		h2.faq2__heading.heading Closed events for students

		.faq2__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university.

		ul.faq2__list
			li.faq2__item
				h3.faq2__question
					button(type="button").faq2__questionBtn Кто является оператором курса?
				.faq2__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq2__item
				h3.faq2__question
					button(type="button").faq2__questionBtn Существуют ли скидки для участия более одного человека от компании?
				.faq2__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq2__item
				h3.faq2__question
					button(type="button").faq2__questionBtn Как долго я могу проходить курс? Могу ли делать паузы в процессе?
				.faq2__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq2__item
				h3.faq2__question
					button(type="button").faq2__questionBtn Могу ли я платить в рассрочку?
				.faq2__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq2__item
				h3.faq2__question
					button(type="button").faq2__questionBtn Сколько уроков в курсе? Сколько часов длится курс?
				.faq2__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).

		a(href="#").faq2__link Read more
