.faq2__question, .faq2__questionBtn
	font-weight normal
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

.faq2__answer, .faq2__answer p
	font-weight normal
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
