.header2
	padding-top 25px
	padding-bottom 25px
	background header
	position absolute
	left 0
	top 0
	width 100%
	border-bottom 1px solid headerText

	@media(min-width desktop)
		padding-top 23px
		padding-bottom 23px

.header2__container
	display flex
	align-items center

.header2__logo,
.mainMenu2__logo
	color headerText
	text-decoration none

	img
		display block
		object-fit contain
		object-position left center
		width 135px
		height 24px

		@media(min-width desktop)
			width 180px
			height 32px

.mainMenu2__logo
	color black

.mainMenu2__header
	display flex
	justify-content space-between
	align-items center

.header2__menuChecker
	width 18px
	height 10px
	border none
	padding 0
	background none
	position relative

	&::before, &::after
		content ''
		position absolute
		left 0
		width 100%
		height 2px

	&--open
		margin-left auto

		&::before, &::after
			background headerText

		&::before
			top 0

		&::after
			bottom 0


	&--close
		&::before, &::after
			background black

		&::before
			transform rotate(45deg)

		&::after
			transform rotate(-45deg)

.mainMenu2__list
	margin 0
	padding 0
	list-style none

	@media(max-width upToDesktop)
		margin-top auto
		overflow-y auto
		padding-bottom 32px
		-ms-overflow-style none
		scrollbar-width none

		&::-webkit-scrollbar
			display none

	@media(min-width tablet) and (max-width upToDesktop)
		padding-bottom 64px

	@media(min-width desktop)
		display flex
		flex-wrap wrap

.mainMenu2__item
	margin-top 20px

	@media(max-width upToDesktop)
		&:first-child
			margin-top 0


	@media(min-width tablet)
		margin-top 24px

	@media(min-width desktop)
		margin-top 0
		margin-left 24px


.mainMenu2__link
	color headerText
	text-decoration none

	@media(max-width upToDesktop)
		color black

.mainMenu2
	@media(max-width upToDesktop)
		display none

		&--active
			z-index 1
			background white
			display flex
			flex-direction column
			position fixed
			left 0
			top 0
			width 100%
			height var(--app-height, 100vh)
			padding 20px 24px 0

			@media(min-width tablet)
				padding-top 28px

	@media(min-width desktop)
		margin-left auto

.mainMenu2__header
	padding-bottom 24px
	background white
