.mainMenu2__logo,
.header2__logo
	font-weight 400
	font-family proxima
	font-size 13px
	line-height 1
	text-transform uppercase

	@media(min-width tablet)
		font-size 15px
		line-height 1.2

.mainMenu2__link
	header2Menu()
