section.section.head10#head10
	.container.head10__container
		h1.head10__heading Fashion
		
		.head10__text Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages, and a help center that help

		form(action="#" data-response="Your application accepted").head10__form
			input(type="hidden" name="domainName")
			.admin-span.head10__formInputWrapper
				input(type="email" placeholder="Почта").head10__formInput
			button(type="submit").head10__formSubmit

		.head10__imgWrapper
			img(src="./images/head.jpg", alt="").head10__img
			img(src="", alt="").hidden
			.head10__video.hidden
				
	.successOverlay.head10__successOverlay
	.successPopup.head10__successPopup
		.successPopup__iconWrapper
		.successPopup__text.head10__successText Our website builder makes it easy to customize your site and add the tools you need to grow your business.
