section(data-load-more="Load more").section.partners2#partners2
	.container.partners2__container
		h2.partners2__heading.heading Our Partners

		.partners2__desc.text
			p If you are interested in becoming a partner or sponsor, please feel free to contact us.

		.partners2__list
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-1.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-1.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-2.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-2.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-3.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-3.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-4.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-4.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-1.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-1.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-2.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-2.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-3.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-3.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
			.partners2__item
				.partners2__itemLogoWrapper
					img(src="./images/partnersNew-4.png", alt="", litepage-image-select="" ).partners2__logo
					img(src="./images/partnersNew-4.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
					.partners2__video.hidden
				.partners2__itemText Расскажите подробнее какие услуги вы предоставили данной компании и какую задачу решили
