section.section.about8#about8
	.container.about8__container
		h2.about8__heading.heading Расскажите о себе или о вашем занятии

		.about8__text Поясните клиентам с помощью каких ваших действий он сможет достигнуть желаемого результата

		a(href="#").about8__btn Cделать заказ

