section.section.contactsBlock.contacts#contacts
	.container.contacts__container
		h2.contacts__heading.heading Closed events for students

		.contacts__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.contacts__body
			.contacts__item
				.contacts__itemName Адрес
				.contacts__itemValues
					span.contacts__itemValue г. Москва ул. Звенигородская, д. 26
			.contacts__item
				.contacts__itemName Телефон
				.contacts__itemValues
					span.contacts__itemValue + 7 (912) 691-46-11
			.contacts__item
				.contacts__itemName Почта
				.contacts__itemValues
					span.contacts__itemValue egorodesign@gmail.com
			.contacts__item
				.contacts__itemName Социальные сети
				.contacts__itemValues
					a(href="#").contacts__itemValue Vkontakte
					a(href="#").contacts__itemValue Facebook
					a(href="#").contacts__itemValue Instagram
