.contacts__itemName
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.contacts__itemValue
	font-weight 400
	font-family proxima
	font-size 22px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 28px
		line-height 1.1
