section.section.head7#head7
	.container.head7__container
		h1.head7__heading Fashion
		.head7__text Sure, it does live chat. But there’s also bots, apps, product tours, and more
		.head7__buttons
			a(href="#").head7__button Read more
		img(src="./images/head7.jpg", alt="").head7__img
		.head7__video.hidden
