.head3
	position relative
	background main
	padding 0 0 60px
	overflow hidden
	@media(min-width desktop)
		min-height var(--app-height, 100vh)
		padding 245px 0 130px
		margin-bottom 110px
		display flex
		align-items center

.constructorActive
	.head3
		margin-bottom 0

.head3__heading, .head3__heading span, .head3__text, .head3__text p,
.head3__formInput, .head3__formSubmit, .head3__formNote
	color mainText !important

.head3__container
	display grid
	grid-template-columns 1fr 320px 1fr
	grid-template-rows min-content min-content min-content min-content

.head3__img, .head3__video
	grid-column 1/4
	grid-row 1/2
	display block
	order -1
	width calc(100% + 48px)
	max-width calc(100% + 48px)
	margin 0 -24px 32px
	height 225px
	object-fit cover
	@media(min-width desktop)
		margin 0
		width 100%
		height 100%
		position absolute
		left 0
		top 0

.head3__heading
	grid-column 2/3
	grid-row 2/3
	margin 0 -5px 12px
	@media(min-width desktop)
		margin 0 -10px 20px

.head3__text
	grid-column 2/3
	grid-row 3/4
	max-width 258px

.head3__form
	margin-top 28px
	grid-column 2/3
	grid-row 4/5
	position relative

	@media(min-width desktop)
		margin-top 50px

.head3__formInput
	padding 12px 0
	border none
	border-bottom 1px solid currentColor
	display block
	width 100%

	@media(min-width desktop)
		padding 10px 0

	&::placeholder
		color currentColor
		opacity .5

.head3__formSubmit
	background transparent
	border 1px solid currentColor
	border-radius 60px
	padding 9px 23px
	display table
	transition 0.3s
	cursor pointer

	&:hover
		background mainText
		color main !important

.head3__formNote
	@media(min-width desktop)
		max-width 276px

@media(max-width desktop - 1px)
	.head3__formBlock
		display grid
		grid-template-columns 1fr 1fr
		grid-column-gap 12px
		grid-row-gap 24px
		align-items start

	.head3__formInputAdminWrapper
		grid-column 1/3

	.head3__formSubmit
		grid-column 1/2

	.head3__formNote
		grid-column 2/3

@media(min-width desktop)
	.head3__container
		display grid
		grid-template-columns 1fr 1fr
		grid-column-gap 47px

	.head3__heading, .head3__text, .head3__form
		z-index 1
		position relative
		grid-column 2/3

	.head3__formBlock
		display grid
		align-items center
		grid-template-columns max-content minmax(50%, 1fr)
		grid-column-gap 28px
		grid-row-gap 40px

	.head3__formInputAdminWrapper
		grid-column 1/3

	.head3__formInput
		max-width 368px

	.head3__formSubmit
		grid-column 1/2

.head3__formSuccess
	position fixed
	left 50%
	top 50%
	padding 62px 0
	transform translate(-50%, -50%)
	background main
	z-index 10
	text-align center
	width 100%
	height 100vh
	display flex
	flex-direction column
	justify-content center

	@media(min-width desktop)
		height auto
		display block
		max-width 454px

	p
		margin 0
		color mainText

.head3__formSuccessIcon
	display table
	margin 0 auto 16px

.head3__formSuccessClose
	border none
	background none
	position absolute
	padding 0
	right 16px
	top 16px
