section.section.head3#head3
	.container.head3__container
		h1.head3__heading
			span Fashion
		.head3__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages

		img(src="./images/head--light.jpg", alt="").head3__img
		.head3__video.hidden

		form(action="#" data-response="Your application accepted").head3__form
			input(type="hidden" name="domainName")
			.head3__formBlock
				.admin-span.head3__formInputAdminWrapper
					input(type="email" placeholder="Email").head3__formInput
				button(type="submit").head3__formSubmit Read more
			
			.head3__formNote Create sophisticated message journeys with smart campaigns
