section.section.servicesBlock.services7#services7
	.container.services7__container
		h2.services7__heading.heading Closed events for students

		.services7__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		img(src="./images/services2.jpg", alt="").services7__img
		
		.services7__list
			- var i = 0
			while i < 4
				- i = i + 1
				.services7__item
					h3.services7__itemName Фотосессия в студии
					.services7__itemDesc Услуга должна закрывать проблемы вашего клиента. Кратко и понятно опишите в чем ее польза и как она будет реализована

		a(href="#").services7__link Сделать заказ
