section.section.ratesBlock.rates6#rates6
	.container.rates6__container
		h2.rates6__heading.heading Closed events for students

		.rates6__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.rates6__tabs 
			button(type="button" data-rateType="Месяц").rates6__tab Месяц
			button(type="button" data-rateType="Год").rates6__tab Год
		
		.rates6__list 
			.rates6__item(data-rateType="Год")
				.rates6__wrapper
					h3.rates6__itemHeading Базовая версия 2
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Месяц")
				.rates6__wrapper
					h3.rates6__itemHeading Базовая версия
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Год")
				.rates6__wrapper
					h3.rates6__itemHeading Студийная съемка 2
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Месяц")
				.rates6__wrapper
					h3.rates6__itemHeading Студийная съемка
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Месяц")
				.rates6__wrapper
					h3.rates6__itemHeading Фотосессия в студии
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Год")
				.rates6__wrapper
					h3.rates6__itemHeading Фотосессия в студии 2
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Год")
				.rates6__wrapper
					h3.rates6__itemHeading Фотосессия в студии 2
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ

			.rates6__item(data-rateType="Год")
				.rates6__wrapper
					h3.rates6__itemHeading Фотосессия в студии 2
					.rates6__itemDesc Опишите в чем уникальность тарифа
					.rates6__itemPrice 699 ₽
				a(href="#").rates6__itemLink Сделать заказ
