section.section.ctaBlock.cta3#cta3
	.container.cta3__container
		img(src="./images/cta3.jpg", alt="").cta3__img
		.cta3__video.hidden

		.cta3__wrapper
			h2.cta3__heading Закажите дизайн сайта со скидкой 30%

			.cta3__desc Предложите выгодную акцию для пользователя, или сообщите ему, что это тот самый момент, чтобы начать с вами работу

			form(action="#").cta3__form
				.cta3__inputWrapper.admin-span
					input(type="text" required placeholder="Имя").cta3__input
				.cta3__inputWrapper.admin-span
					input(type="text" required placeholder="Почта").cta3__input
				button(type="submit").cta3__submit Сделать заказ
			

