section.section.faq#faq
	.container.faq__container
		h2.faq__heading.heading Closed events for students

		.faq__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university.

		ul.faq__list
			li.faq__item
				h3.faq__question
					button(type="button").faq__questionBtn Кто является оператором курса?
				.faq__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq__item
				h3.faq__question
					button(type="button").faq__questionBtn Существуют ли скидки для участия более одного человека от компании?
				.faq__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq__item
				h3.faq__question
					button(type="button").faq__questionBtn Как долго я могу проходить курс? Могу ли делать паузы в процессе?
				.faq__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq__item
				h3.faq__question
					button(type="button").faq__questionBtn Могу ли я платить в рассрочку?
				.faq__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq__item
				h3.faq__question
					button(type="button").faq__questionBtn Сколько уроков в курсе? Сколько часов длится курс?
				.faq__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).

		a(href="#").faq__link Read more
