.faq__question, .faq__questionBtn
	font-weight normal
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 28px

.faq__answer, .faq__answer p
	font-weight normal
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px

.faq__link
	font-weight normal
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
