section.section.about5#about5
	.container.about5__container
		h2.about5__heading.heading Closed events for students
		.about5__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		a(href="#").about5__btn Let’s go

		img(src='./images/about-1.jpg', alt="Описание фотографии").about5__img
		img(src='', alt="Описание фотографии").hidden
		.about5__video.hidden

		.about5__notation Professional photography, set design, top-notch photo editing and retouching
