section.section.servicesBlock.services3#services3
	.container.services3__container
		h2.services3__heading.heading Closed events for students

		.services3__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.services3__list
			- var i = 0
			while i < 3
				- i = i + 1
				.services3__item
					.services3__itemImgWrapper
						img(src="./images/services2.jpg", alt="").services3__itemImg

					h3.services3__itemName Студийная съемка
					.services3__itemDesc Услуга должна закрывать потребности вашего клиента. Кратко и понятно опишите в чем ее польза и как она будет реализована
				
		a(href="#").services3__link Сделать заказ
