.head8__heading
	font-family proxima
	font-weight 400
	font-size 76px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 298px

.head8__text, .head8__button
	font-family proxima
	font-weight 400
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

.head8__itemHeading
	font-family proxima
	font-weight 400
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
		line-height 1.1

.head8__itemText
	font-family proxima
	font-weight 300
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
