section.section.head8#head8
	.container.head8__container
		h1.head8__heading Fashion
		
		.head8__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages, and a help center that help
		
		.head8__buttons
			a(href="#").head8__button Read more
		
		.head8__items
			.head8__item
				h3.head8__itemHeading Make best design
				p.head8__itemText We are a leading firm in providing quality and value to customers
			.head8__item
				h3.head8__itemHeading More then 100 project
				p.head8__itemText We are a leading firm in providing quality and value to customers
			.head8__item
				h3.head8__itemHeading Always available 24/7
				p.head8__itemText We are a leading firm in providing quality and value to customers
		
		.head8__imgWrapper
			img(src="./images/head.jpg", alt="").head8__img
			.head8__video.hidden
