.footer4__siteName
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.footer4__phone, .footer4__email, .footer4__address, .footer4__social
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
