section.footer4.footerBlock
	.container.footer4__container 
		.footer4__siteNameWrapper
			a(href="#").footer4__siteName © 2021 Reebook

		.footer4__blockHeading.footer4__blockHeading--contacts Контакты
		a(href="tel:+79126914611").footer4__phone +7 (912) 691-46-11
		
		a(href="mailto:egorodesign@gmail.com").footer4__email egorodesign@gmail.com

		a(href="#").footer4__address г. Москва ул. Звенигородская, д. 26

		.footer4__blockHeading.footer4__blockHeading--socials Соцсети
		.footer4__socials 
			a(href="#").footer4__social Facebook
			a(href="#").footer4__social Instagram
			a(href="#").footer4__social Vkontakte
