section.section.priceBlock.price2#price2
	.container.price2__container
		h2.price2__heading.heading Closed events for students

		.price2__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.price2__list 
			.price2__item 
				h3.price2__itemHeading Базовая версия
				.price2__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price2__itemPrice 399 ₽
			.price2__item 
				h3.price2__itemHeading Студийная съемка
				.price2__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price2__itemPrice 699 ₽
			.price2__item 
				h3.price2__itemHeading Дневная фотосессия
				.price2__itemDesc Опишите чем ваши тарифы могут заинтересовать пользователей, так же вы можете предложить им какую либо акцию
				.price2__itemPrice 1 499 ₽

		a(href="#").price2__btn Cделать заказ
