section.section.faq3#faq3
	.container.faq3__container
		h2.faq3__heading.heading Closed events for students

		.faq3__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university.

		ul.faq3__list
			li.faq3__item
				h3.faq3__question
					button(type="button").faq3__questionBtn Кто является оператором курса?
				.faq3__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq3__item
				h3.faq3__question
					button(type="button").faq3__questionBtn Существуют ли скидки для участия более одного человека от компании?
				.faq3__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq3__item
				h3.faq3__question
					button(type="button").faq3__questionBtn Как долго я могу проходить курс? Могу ли делать паузы в процессе?
				.faq3__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq3__item
				h3.faq3__question
					button(type="button").faq3__questionBtn Могу ли я платить в рассрочку?
				.faq3__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).
			li.faq3__item
				h3.faq3__question
					button(type="button").faq3__questionBtn Сколько уроков в курсе? Сколько часов длится курс?
				.faq3__answer
					p Компания SkillBox (skillbox.ru), доступ к курсу осуществляется через образовательную платформу Skillbox (go.skillbox.ru).

		a(href="#").faq3__link Read more
