main = var(--main)
mainText = var(--mainText)
mainBtn = var(--mainBtn)
mainBtnText = var(--mainBtnText)

main2 = var(--main2)
main2Text = var(--main2Text)
main2Btn = var(--main2Btn)
main2BtnText = var(--main2BtnText)

main3 = var(--main3)
main3Text = var(--main3Text)
main3Btn = var(--main3Btn)
main3BtnText = var(--main3BtnText)

header = var(--header)
headerText = var(--headerText)
headerBtn = var(--headerBtn)
headerBtnText = var(--headerBtnText)

img-border = var(--img-border)
img-border3 = var(--img-border3)

upToTablet = 767px
tablet = 768px
upToDesktop = 1263px
desktop = 1264px
upToFullDesktop = 1365px
fullDesktop = 1366px
fhd = 1920px
d2k = 2560px

proxima = 'Proxima Nova', Arial, sans-serif

:root
	--main #FFF
	--mainText #000
	--mainBtn #FFF
	--mainBtnText #000

	--main2 #D5FE30
	--main2Text #000
	--main2Btn #000
	--main2BtnText #FFF

	--main3 #FFF
	--main3Text #000
	--main3Btn #FFF
	--main3BtnText #000

	--header #000
	--headerText #FFF
	--headerBtn #000
	--headerBtnText #FFF

	--headerTextLight #FFFFFF
	--headerTextDark #000000

	--img-border #212121
	--img-border3 #EAEBEE
