section.section.about4#about4
	.container.about4__container
		h2.about4__heading.heading Closed events for students
		.about4__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		a(href="#").about4__btn Let’s go

		img(src='./images/about-1.jpg', alt="Описание фотографии").about4__img
		img(src='', alt="Описание фотографии").hidden
		.about4__video.hidden
