section.section.advantages5#advantages5
	.container.advantages5__container
		h2.advantages5__heading.heading Closed events for students

		.advantages5__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.advantages5__list
			.advantages5__item
				h3.advantages5__name High Quality
				p.advantages5__text We are a leading firm in providing quality and value to our customers. Each member of our team has at least 5 years of legal experience. 
			.advantages5__item
				h3.advantages5__name Unique Experience
				p.advantages5__text Each member of our team has at least 5 years of legal experience. They use their knowledge to make our clients' lives better.
			.advantages5__item
				h3.advantages5__name Good Support
				p.advantages5__text Our managers are always ready to answer your questions. You can call us at the weekends and at night. You can also visit our office for 
			.advantages5__item
				h3.advantages5__name Individual Approach
				p.advantages5__text Our company works according to the principle of individual approach to every client. This method allows us to achieve success in problems 

		a(href="#").advantages5__link Read more
