section.section.cases3#cases3
	.container.cases3__container
		h2.cases3__heading.heading Моё портфолио
		.cases3__text.text Вставьте скриншот хорошего качества с вашей работой и опишите его двумя-тремя предложениями

		.cases3__list
			- var i = 0
			while i < 3
				- i = i + 1
				.cases3__item
					h3.cases3__title Кадровый аудит санаторно-курортного бизнеса
					.cases3__desc Бенефициар бизнеса реализовал схему, в результате которой его личные активы и активы группы компаний оказались переписаны на иностранную компанию, зарегистрированную в Евросоюзе.
					a(href="#").cases3__link
