section.section.gallery5#gallery5
	.container.gallery5__container
		h2.gallery5__heading.heading Closed events for students
		.gallery5__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university
		ul.gallery5__images
			li.gallery5__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery5__photo
				.gallery5__video.hidden
				h4.gallery5__name The profession of Internet marketer
				span.gallery5__post Marketing Director Skobeev & Partners
			li.gallery5__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery5__photo
				.gallery5__video.hidden
				h4.gallery5__name The profession
				span.gallery5__post Marketing Director Skobeev & Partners
			li.gallery5__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery5__photo
				.gallery5__video.hidden
				h4.gallery5__name The profession of Internet marketer
				span.gallery5__post Marketing Director Skobeev & Partners
			li.gallery5__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery5__photo
				.gallery5__video.hidden
				h4.gallery5__name The profession
				span.gallery5__post Marketing Director Skobeev & Partners
