.products3__itemTitle
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		line-height 1.2

.products3__itemPrice
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px

.products3__modalName
	font-weight 400
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 28px
		line-height 1

.products3__modalPrice
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 28px
		line-height 1

.products3__modalDescription
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px

.products3__modalFormInput
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.products3__modalFormSubmit
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px
		line-height 1.2

.products3__modalSuccessText
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.3
	@media(min-width desktop)
		font-size 20px
		line-height 1.2
