.copyright2
	padding-top 20px
	padding-bottom 20px
	border-top 1px solid #000
	background #fff
	color #000

	@media(min-width desktop)
		padding-top 24px
		padding-bottom 24px

.copyright2__container
	display flex
	align-items center
	justify-content center

.copyright2__litepage
	color #000
	text-decoration none
	display flex
	align-items center

	span
		text-decoration underline

	&:hover
		span
			text-decoration none

.copyright2__litepageIcon
	margin-right 8px

	svg
		display block
		width 16px
		height 16px

.footer2 + .copyright2
	margin-top -28px

.footer3 + .copyright2
	margin-top -28px

.footer4 + .copyright2
	margin-top -28px
