section(data-load-more="Load more").section.partners#partners
	.container.partners__container
		h2.partners__heading.heading Our Partners

		.partners__desc.text
			p If you are interested in becoming a partner or sponsor, please feel free to contact us.

		.partners__list
			.partners__logoAdminWrapper
				img(src="./images/partners.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-1.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-1.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-2.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-2.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-3.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-3.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-4.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-4.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-5.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-5.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-4.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-4.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
			.partners__logoAdminWrapper
				img(src="./images/partners-5.png", alt="", litepage-image-select="" ).partners__logo
				img(src="./images/partners-5.png", alt="", litepage-image-origin="" default-position="null" default-size="null").hidden
				.partners__video.hidden
