section.footer3.footerBlock
	.container.footer3__container 
		.footer3__menu
			a(href="#").footer3__menuItem Обо мне
			a(href="#").footer3__menuItem Услуги
			a(href="#").footer3__menuItem Портфолио
			a(href="#").footer3__menuItem Тарифы
			a(href="#").footer3__menuItem Отзывы

		a(href="tel:+79126914611").footer3__phone +7 (912) 691-46-11

		a(href="#").footer3__address г. Москва ул. Звенигородская, д. 26

		.footer3__siteNameWrapper
			a(href="#").footer3__siteName © 2021 Reebook
