section.section.head#head
	.container.head__container
		h1.head__heading
			span Fashion
		.head__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages

		.head__buttons
			span(litepage-iterable="" litepage-item-title-class="head__button").admin-span.head__buttonAdminWrapper
				a(hide-in-main-editor="" litepage-title="Название кнопки" litepage-super-button="" litepage-button-data="" litepage-button-type="" href="#").head__button Read more
			span(litepage-iterable="" litepage-item-title-class="head__button").admin-span.head__buttonAdminWrapper
				a(hide-in-main-editor="" litepage-title="Название кнопки" litepage-super-button="" litepage-button-data="" litepage-button-type="" href="#").head__button Download
			span(litepage-iterable="" litepage-item-title-class="head__button").admin-span.head__buttonAdminWrapper
				a(hide-in-main-editor="" litepage-title="Название кнопки" litepage-super-button="" litepage-button-data="" litepage-button-type="" href="#").head__button Read more

		img(src="./images/head.jpg", alt="").head__img
		.head__video.hidden
