section.footer#footer
	.container.footer__techInfo
		p.footer__sitename © 2020 Unknowncompany
		p.footer__privacy
			a(href="#") Privacy and personal data processing policy

		section.footer__techSocial
			h4.visually-hidden Мы в соцсетях
			ul.footer__techSocialList
				li.footer__techSocialItem
					a(href="#" aria-label='Мы в Twitter').footer__techSocialLink.footer__techSocialLink--twitter
				li.footer__techSocialItem
					a(href="#" aria-label='Мы в facebook').footer__techSocialLink.footer__techSocialLink--fb
				li.footer__techSocialItem
					a(href="#" aria-label='Наша страничка на Instagram').footer__techSocialLink.footer__techSocialLink--instagram

		p.footer__copyright Сделано в&nbsp;
			a(href="#") lite.page

		a(href="#").footer__backToTop Back to top
