section.section.about6#about6
	.container.about6__container
		h2.about6__heading.heading Расскажите о себе или о вашем занятии

		.about6__imgWrapper
			img(src='./images/about-1.jpg', alt="Описание фотографии").about6__img
			img(src='', alt="Описание фотографии").hidden
			.about6__video.hidden

		.about6__textsWrapper
			.about6__text Поясните клиентам с помощью каких ваших действий он сможет достигнуть желаемого результата

			.about6__list
				.about6__listItem Работаю более 10 лет в сфере дизайна
				.about6__listItem Сделал свыше 400 проектов
				.about6__listItem Подарил положительные эмоции 132 клиентам

		a(href="#").about6__btn Cделать заказ

