.mainMenu3__logo,
.header3__logo
	font-weight 400
	font-family proxima
	font-size 13px
	line-height 1.2
	text-transform uppercase

	@media(min-width tablet)
		font-size 20px

.mainMenu3__btn
	header3Btn()

	@media(min-width desktop)
		font-size 15px
