section.section.head6#head6
	.container.head6__container
		h1.head6__heading Fashion
		.head6__text Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages, and a help center that help
		.head6__buttons
			a(href="#").head6__button Read more
