section.section.about#about
	.container.about__container
		h2.about__heading.heading About Our Classes
		.about__text.text
			p Our classes provide a gateway into the world of dance, connecting young people and communities to artistic practice. We also engage in a range of inspirational and high-quality participatory activities, both nationally and internationally.

		span(litepage-iterable="" litepage-item-title-class="about__btn").admin-span.about__btnWrapper
			a(href="#" hide-in-main-editor="" litepage-title="Название кнопки" litepage-super-button="" litepage-button-data="" litepage-button-type="").about__btn Read more
		span(litepage-iterable="" litepage-item-title-class="about__btn").admin-span.about__btnWrapper
			a(href="#" hide-in-main-editor="" litepage-title="Название кнопки" litepage-super-button="" litepage-button-data="" litepage-button-type="").about__btn Read more

		div.admin-span.about__imgAdminWrapper
			img(src=`./images/about-1.jpg`, alt="Описание фотографии").about__img
			.about__video.hidden
		div.admin-span.about__imgAdminWrapper
			img(src=`./images/about-2.jpg`, alt="Описание фотографии").about__img
			.about__video.hidden
