section.section.gallery2#gallery2
	.container.gallery2__container
		h2.gallery2__heading.heading Closed events for students
		.gallery2__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university
		ul.gallery2__images
			li.gallery2__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery2__photo
				.gallery2__video.hidden
				h4.gallery2__name The profession of Internet marketer
				span.gallery2__post Marketing Director Skobeev & Partners
			li.gallery2__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery2__photo
				.gallery2__video.hidden
				h4.gallery2__name The profession
				span.gallery2__post Marketing Director Skobeev & Partners
			li.gallery2__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery2__photo
				.gallery2__video.hidden
				h4.gallery2__name The profession of Internet marketer
				span.gallery2__post Marketing Director Skobeev & Partners
			li.gallery2__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery2__photo
				.gallery2__video.hidden
				h4.gallery2__name The profession
				span.gallery2__post Marketing Director Skobeev & Partners
