.overlay
.popUp
	button(type="button" aria-label="Закрыть модальное окно").popUp__close
		include ../../assets/style-X/popup-close.svg

	.popUp__content
		include ../../assets/style-X/popup-success.svg
		h2.popUp__title Ваша заявка принята!
