section.section.process#process
	.container.process__container
		h2.process__heading.heading Closed events for students

		.process__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		ul.process__list
			li.process__item
				h3.process__step
					button(type="button").process__stepBtn Marketing beginners
				.process__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process__item
				h3.process__step
					button(type="button").process__stepBtn For business owners
				.process__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process__item
				h3.process__step
					button(type="button").process__stepBtn Offline marketers
				.process__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process__item
				h3.process__step
					button(type="button").process__stepBtn Marketing beginners
				.process__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.

		a(href="#").process__link Read more
