section.section.process2#process2
	.container.process2__container
		h2.process2__heading.heading Closed events for students

		.process2__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		ul.process2__list
			li.process2__item
				h3.process2__step
					button(type="button").process2__stepBtn Marketing beginners
				.process2__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process2__item
				h3.process2__step
					button(type="button").process2__stepBtn For business owners
				.process2__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process2__item
				h3.process2__step
					button(type="button").process2__stepBtn Offline marketers
				.process2__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.
			li.process2__item
				h3.process2__step
					button(type="button").process2__stepBtn Marketing beginners
				.process2__stepDesc
					p Learn how to effectively promote any projects on the Internet and master an interesting and highly paid profession from scratch.

		a(href="#").process2__link Read more
