section.section.reviews3#reviews3
	.container.reviews3__container
		h2.reviews3__heading.heading О Skillbox: отзывы

		.reviews3__desc.text
			p Skillbox — это онлайн-университет. У нас прикладные курсы и программы от главных экспертов рынка, актуальные подходы к обучению, работа над реальными проектами, стажировки и трудоустройство в крупнейшие компании страны.

		.reviews3__list
			.reviews3__item
				.reviews3__text Я решила сама разобраться в таргетинге, чтобы полностью контролировать процессы рекламы.
				.reviews3__info
					.reviews3__avatar
						img(src='./images/review.jpg' alt="Мария Боровская").reviews3__photo
						.reviews3__video.hidden
					.reviews3__author
						.reviews3__name Мария Боровская
						.reviews3__post Основатель MBDS design studio
			.reviews3__item
				.reviews3__text Новая профессия — это множество ярких впечатлений. Сегодня была на вручении региональной бизнес-премии. И это лишь одно из таких событий, произошедших в моей жизни после того, как я прошла курс и стала SMM-маркетологом.
				.reviews3__info
					.reviews3__avatar
						img(src='./images/review.jpg' alt="Мария Боровская").reviews3__photo
						.reviews3__video.hidden
					.reviews3__author
						.reviews3__name Мария Боровская
						.reviews3__post Основатель MBDS design studio
			.reviews3__item
				.reviews3__text Я решила сама разобраться в таргетинге, чтобы полностью контролировать процессы рекламы.
				.reviews3__info
					.reviews3__avatar
						img(src='./images/review.jpg' alt="Мария Боровская").reviews3__photo
						.reviews3__video.hidden
					.reviews3__author
						.reviews3__name Мария Боровская
						.reviews3__post Основатель MBDS design studio
			.reviews3__item
				.reviews3__text Новая профессия — это множество ярких впечатлений. Сегодня была на вручении региональной бизнес-премии. И это лишь одно из таких событий, произошедших в моей жизни после того, как я прошла курс и стала SMM-маркетологом.
				.reviews3__info
					.reviews3__avatar
						img(src='./images/review.jpg' alt="Мария Боровская").reviews3__photo
						.reviews3__video.hidden
					.reviews3__author
						.reviews3__name Мария Боровская
						.reviews3__post Основатель MBDS design studio
