.head4__heading
	font-weight 400
	font-family proxima
	font-size 76px
	line-height 1
	text-transform uppercase
	@media(min-width desktop)
		font-size 138px

.head4__text, .head4__text p, .head4__buttons a
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

.head4__infoNumber
	font-weight 400
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 36px

.head4__infoDesc
	font-weight 300
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
