section.section.head4#head4
	.container.head4__container
		h1.head4__heading
			span Fashion
		.head4__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages
		.head4__buttons
			a(href="#").head4__button Read more
			a(href="#").head4__button Download
			a(href="#").head4__button Read more
			a(href="#").head4__button Download

		img(src="./images/head.jpg", alt="").head4__img
		img(src="", alt="").head4__img.hidden
		.head4__video.hidden

		.head4__info
			.head4__infoItem
				.head4__infoNumber 2202 sales
				.head4__infoDesc Share automated messages with quick, conversational
			.head4__infoItem
				.head4__infoNumber 500 point
				.head4__infoDesc Share automated messages with quick, conversational
			.head4__infoItem
				.head4__infoNumber 10 years
				.head4__infoDesc Share automated messages with quick, conversational
