section.section.cases5#cases5
	.container.cases5__container
		h2.cases5__heading.heading Моё портфолио
		.cases5__text.text Вставьте скриншот хорошего качества с вашей работой и опишите его двумя-тремя предложениями

		.cases5__list
			- var i = 0
			while i < 4
				- i = i + 1
				.cases5__item
					.cases5__imgWrapper
						img(src="./images/advantages__mainImg.jpg", alt="").cases5__img
					.cases5__body
						h3.cases5__title Продвижение тендерной площадки Bicotender.ru
						.cases5__desc BiCotender – самая полная система тендеров с «умным» поиском, разработанная в 2005 году. В систему загружено более 50 миллионов тендеров, количество пользователей системы - 420000 человек. ГК BiCo стала первой тендерной компанией, получившей патент в области аналитики закупок и создала собственную систему сертификации BiCo Standart.
						a(href="#").cases5__link.cases5__link--mobile Read more
