section.section.servicesBlock.services4#services4
	.container.services4__container
		h2.services4__heading.heading Closed events for students

		.services4__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		
		.services4__list
			- var i = 0
			while i < 4
				- i = i + 1
				.services4__item
					.services4__itemImgWrapper
						img(src="./images/services2.jpg", alt="").services4__itemImg
	
					h3.services4__itemName Фотосессия в студии
					.services4__itemDesc Услуга должна закрывать проблемы вашего клиента. Кратко и понятно опишите в чем ее польза и как она будет реализована
