section.section.gallery#gallery
	.container.gallery__container
		h2.gallery__heading.heading Closed events for students
		.gallery__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university
		ul.gallery__images
			li.gallery__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery__photo
				.gallery__video.hidden
				h4.gallery__name The profession of Internet marketer
				span.gallery__post Marketing Director Skobeev & Partners
			li.gallery__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery__photo
				.gallery__video.hidden
				h4.gallery__name The profession
				span.gallery__post Marketing Director Skobeev & Partners
			li.gallery__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery__photo
				.gallery__video.hidden
				h4.gallery__name The profession of Internet marketer
				span.gallery__post Marketing Director Skobeev & Partners
			li.gallery__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery__photo
				.gallery__video.hidden
				h4.gallery__name The profession
				span.gallery__post Marketing Director Skobeev & Partners
