.mainMenu5__logo,
.header5__logo
	font-weight 600
	font-family proxima
	font-size 13px
	line-height 1.2
	text-transform uppercase

	@media(min-width tablet)
		font-size 15px

.mainMenu5__link
	header2Menu()

.mainMenu5__btn
	header3Btn()

	@media(min-width desktop)
		font-size 15px
		line-height 1.2
