.services__heading
	background red

.services__desc
	p
		background red

.services__btn
	background red

.services__select
	background red

.services__filterBtn
	background red

.services__name
	background red

.services__text
	background red

.services__price
	background red

.dropdown__select, .dropdown__item
	background red
