section.section.servicesBlock.services2#services2
	.container.services2__container
		h2.services2__heading.heading Closed events for students

		.services2__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.services2__body
			.services2__list
				- var i = 0
				while i < 3
					- i = i + 1
					.services2__item
						.services2__itemImgWrapper
							img(src="./images/services2.jpg", alt="").services2__itemImg

						.services2__itemText
							h3.services2__itemName Фотосессия в студии
							.services2__itemDesc Услуга должна закрывать проблемы вашего клиента. Кратко и понятно опишите в чем ее польза и как она будет реализована

			a(href="#").services2__link Сделать заказ
