//- Чтобы отобразить сообщение после отправки, надо накинут ьмодификатор .popupForm3--success.
.isPopup.popupForm3
	h2.popupForm3__heading Закажите дизайн сайта со скидкой 30%
	.popupForm3__text Предложите выгодную акцию для пользователя, или сообщите ему, что это тот самый момент, чтобы начать с вами работу.
	img(src="./images/popupForm3.png", alt="").popupForm3__img
	
	form.popupForm3__form(action="#") 
		.popupForm3__formBlock 
			input(type="text" placeholder="Email" id="popupForm3-1" name="popupForm3-1").popupForm3__input
			label(for="popupForm3-1").visually-hidden Введите ваш email 
		.popupForm3__formBlock 
			input(type="text" placeholder="Address" id="popupForm3-2" name="popupForm3-2").popupForm3__input
			label(for="popupForm3-2").visually-hidden Введите ваш адрес

		button(type="submit").popupForm3__submit Сделать заказ

		input(type="hidden" name="domainName")

	.popupForm3__successText
		.popupForm3__successTextIcon
		p Ваша заявка отправлена
