.footer2
	padding-top 60px
	padding-bottom 60px
	background #fff
	color #000

	@media(min-width desktop)
		padding-top 106px
		padding-bottom 56px

.footer2__container
	@media(min-width desktop)
		display flex
		justify-content space-between

.footer2__siteNameWrapper
	@media(min-width desktop)
		width 287px
		flex-shrink 0

.footer2__siteName, .footer2__social
	color #000
	text-decoration none

	&:hover
		text-decoration underline

.footer2__socials
	display flex
	flex-wrap wrap
	margin-top 24px
	margin-bottom -12px

	@media(min-width desktop)
		margin-top 0
		margin-bottom -20px
		padding-left 84px
		justify-content flex-end

.footer2__social
	margin-right 20px
	margin-bottom 12px

	@media(min-width desktop)
		margin-bottom 20px
