.footer2__siteName
	font-weight 400
	font-family proxima
	font-size 20px
	line-height 1.2

.footer2__social
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
