section.footer2.footerBlock
	.container.footer2__container 
		.footer2__siteNameWrapper
			a(href="#").footer2__siteName © 2021 Reebook
		.footer2__socials 
			a(href="#").footer2__social Facebook
			a(href="#").footer2__social Instagram
			a(href="#").footer2__social Vkontakte
