section.section.gallery6#gallery6
	.container.gallery6__container
		h2.gallery6__heading.heading We Love Our Students
		.gallery6__text.text Our classes provide a gateway into the world of dance, connecting young people and communities to artistic practice. We also engage in a range of inspirationa.
		.gallery6__images
			.gallery6__gutter-sizer
			section.gallery6__image
				img(src="https://picsum.photos/id/100/700/540/", data-full="https://picsum.photos/id/100/1080/1080/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/100/1920/1080/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/200/1200/600", data-full="https://picsum.photos/id/200/1080/1920/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/200/1920/500/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/60/700/920/", data-full="https://picsum.photos/id/60/720/1440/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/60/720/1440/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/400/800/1920/", data-full="https://picsum.photos/id/400/1600/900/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/400/1600/900/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/500/1920/1080/", data-full="https://picsum.photos/id/500/1080/1920/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/500/1080/1920/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/600/2560/1440/", data-full="https://picsum.photos/id/600/1024/768/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/600/1024/768/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/700/1440/2560/", data-full="https://picsum.photos/id/700/1024/768/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/700/1024/768/").gallery6__video.hidden
			section.gallery6__image
				img(src="https://picsum.photos/id/800/1920/1080/", data-full="https://picsum.photos/id/800/2560/1440/", alt="Описание фотографии").gallery6__photo
				img(src="", alt="").hidden
				img(src="https://picsum.photos/id/800/2560/1440/").gallery6__video.hidden
