.services6__itemName
	font-weight 400
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 28px

.services6__itemLink
	font-weight 400
	font-family proxima
	font-size 17px
	line-height 1.2
	@media(min-width desktop)
		font-size 20px

	&--small
		font-size 14px
		@media(min-width desktop)
			font-size 15px
