section.section.servicesBlock.services6#services6
	.container.services6__container
		h2.services6__heading.heading Closed events for students

		.services6__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.services6__list
			- var i = 0
			while i < 3
				- i = i + 1
				.services6__item
					img(src="./images/services2.jpg", alt="").services6__itemImg

					.services6__itemInfo
						h3.services6__itemName Студийная съемка
						a(href="#").services6__itemLink Сделать заказ
				
