section.section.head2#head2
	.container.head2__container
		h1.head2__heading
			span Fashion
		.head2__text
			p Sure, it does live chat. But there’s also bots, apps, product tours, and more like email, messages
		.head2__buttons
			a(href="#").head2__button Read more
		img(src="./images/head.jpg", alt="").head2__img
		.head2__video.hidden
