section.section.cases4#cases4
	.container.cases4__container
		h2.cases4__heading.heading Моё портфолио
		.cases4__text.text Вставьте скриншот хорошего качества с вашей работой и опишите его двумя-тремя предложениями

		.cases4__list
			- var i = 0
			while i < 4
				- i = i + 1
				.cases4__item
					h3.cases4__title Due Diligence нефтяной группы компаний
					.cases4__desc К РКТ обратились интересант на покупку нефтяной группы компаний (5 предприятий) с заданием на проведение комплексного аудита бизнеса с целью оценки рыночной/справедливой стоимости сделки по приобретению доли в размере 67% в бизнесе, а также выявление возможных скрытых рисков.
					
					ul.cases4__points
						li.cases4__pointsItem 71% запросов в топе Яндекс
						li.cases4__pointsItem 52% запросов в топе Google
						li.cases4__pointsItem 7,82 средняя позиция сайта в Яндекс

					a(href="#").cases4__link Узнать больше
