section.section.about2#about2
	.container.about2__container
		h2.about2__heading.heading Closed events for students
		.about2__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		a(href="#").about2__btn Let’s go
