.about2__text
	margin-bottom 24px

	@media(min-width tablet)
		margin-bottom 28px

	@media(min-width desktop)
		margin-bottom 40px

.about2__btn
	text-decoration none
	border 1px solid mainText
	color mainText
	border-radius 60px
	padding 9px 25px
	display table
	transition 0.3s

	&:hover
		background mainText
		color main
