.price__heading
	background red

.price__desc
	p
		background red

.price__start, .price__end
	background red

.price__firstPayment
	background red

.price__price
	background red

.price__discount
	background red

.price__period
	background red

.price__discountInfo
	background red

.price__priceWithoutDiscount
	background red

.price__formName
	background red

.price__input
	background red

.price__submit
	background red

.price__label
	background red
