//- Чтобы отобразить сообщение после отправки, надо накинуть модификатор .popupForm4--success.
.isPopup.popupForm4
	h2.popupForm4__heading Закажите дизайн сайта со скидкой 30%
	.popupForm4__text Предложите выгодную акцию для пользователя, или сообщите ему, что это тот самый момент, чтобы начать с вами работу.
	img(src="./images/popupForm4.jpg", alt="").popupForm4__img
	
	form.popupForm4__form(action="#") 
		.popupForm4__formBlock 
			input(type="text" placeholder="Email" id="popupForm4-1" name="popupForm4-1").popupForm4__input
			label(for="popupForm4-1").visually-hidden Введите ваш email 
		.popupForm4__formBlock 
			input(type="text" placeholder="Address" id="popupForm4-2" name="popupForm4-2").popupForm4__input
			label(for="popupForm4-2").visually-hidden Введите ваш адрес

		button(type="submit").popupForm4__submit Сделать заказ

		input(type="hidden" name="domainName")

	.popupForm4__successText
		.popupForm4__successTextIcon
		p Ваша заявка отправлена
