.services5__itemName
	font-weight 400
	font-family proxima
	font-size 25px
	line-height 1
	@media(min-width desktop)
		font-size 28px

.services5__itemDesc
	font-weight 400
	font-family proxima
	font-size 14px
	line-height 1.3
	@media(min-width desktop)
		font-size 15px
