section.section.servicesBlock.services5#services5
	.container.services5__container
		h2.services5__heading.heading Closed events for students

		.services5__desc.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university

		.services5__list
			- var i = 0
			while i < 3
				- i = i + 1
				.services5__item
					h3.services5__itemName Студийная съемка
					.services5__itemDesc Услуга должна закрывать потребности вашего клиента. Кратко и понятно опишите в чем ее польза и как она будет реализована

					.services5__itemImgWrapper
						img(src="./images/services2.jpg", alt="").services5__itemImg
