section.section.ctaBlock.cta2#cta2
	.container.cta2__container
		img(src="./images/cta2.jpg", alt="").cta2__img
		.cta2__video.hidden

		.cta2__wrapper
			h2.cta2__heading Закажите дизайн сайта со скидкой 30%

			.cta2__desc Предложите выгодную акцию для пользователя, или сообщите ему, что это тот самый момент, чтобы начать с вами работу

			form(action="#").cta2__form
				.cta2__inputWrapper.admin-span
					input(type="text" required placeholder="Почта").cta2__input
				button(type="submit").cta2__submit Сделать заказ
			

