section.section.about3#about3
	.container.about3__container
		h2.about3__heading.heading About Our Classes
		.about3__text.text
			p Our classes provide a gateway into the world of dance, connecting young people and communities to artistic practice. We also engage in a range of inspirational and high-quality participatory activities, both nationally and internationally.

		a(href="#").about3__btn Let’s go

		.about3__imgsList
			div.admin-span.about3__imgAdminWrapper
				img(src=`./images/about-1.jpg`, alt="Описание фотографии", litepage-image-select="").about3__img
				img(src=`./images/about-1.jpg`, alt="Описание фотографии", litepage-image-origin="" default-position="null" default-size="null").hidden
				.about3__video.hidden
			div.admin-span.about3__imgAdminWrapper
				img(src=`./images/about-2.jpg`, alt="Описание фотографии", litepage-image-select="").about3__img
				img(src=`./images/about-2.jpg`, alt="Описание фотографии", litepage-image-origin="" default-position="null" default-size="null").hidden
				.about3__video.hidden
			div.admin-span.about3__imgAdminWrapper
				img(src=`./images/about-1.jpg`, alt="Описание фотографии", litepage-image-select="").about3__img
				img(src=`./images/about-1.jpg`, alt="Описание фотографии", litepage-image-origin="" default-position="null" default-size="null").hidden
				.about3__video.hidden
