section.section.gallery3#gallery3
	.container.gallery3__container
		h2.gallery3__heading.heading Closed events for students
		.gallery3__text.text
			p Join the professional community, you can ask any question to specialists and make new useful contacts. Skillbox is an online university
		ul.gallery3__images
			li.gallery3__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery3__photo
				.gallery3__video.hidden
			li.gallery3__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery3__photo
				.gallery3__video.hidden
			li.gallery3__image
				img(src='./images/gallery-1.jpg', alt="Описание фотографии").gallery3__photo
				.gallery3__video.hidden
			li.gallery3__image
				img(src='./images/gallery-2.jpg', alt="Описание фотографии").gallery3__photo
				.gallery3__video.hidden
